.password-container{
  text-align: center;
  padding: 50px;
  background-color: #0e2544;
  color: #fff;
  border-radius: 10px; 
  width: 600px;
  margin: 50px auto;
}
.password-display{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.password-display input{
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  margin-right: 10px;
}
.password-display span{
  color:#fff;
}
.password-display button{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.generate-button{
  background-color: #286920;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.generate-button span{
  margin-right: 5px;
}
.copy-Message{
  color: #328827;
  margin-bottom: 10px;
  font-size: 14px;
}